<!-- ======= Footer ======= -->

<footer id="footer" class="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="assets/img/logo.png" alt="">
                        <span>Zenbatu</span>
                    </a>
                    <p>Zenbatu, a tracking application geared towards companies with the objective of keeping all their information and the whereabouts of their hard assets up to date.</p>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#about">About</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#testimonials">Testimonials</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Manage Assets</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/add_asset_page">Add Asset</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/get_asset_page">Search Assets</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/database">Connect Database</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Phone:</strong> +44 20 7919 7171<br>
                        <strong>Email:</strong> info@zenbatu.test<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>Zenbatu</span></strong>. All Rights Reserved
        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Vendor JS Files -->
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/purecounter.js"></script>
<script src="assets/js/swiper.min.js"></script>
<script src="assets/js/aos.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/app.js"></script>
