<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs')-%>
<body>

    <%- include('./partials/navbar.ejs')-%>

    <!-- ======= Connect Section ======= -->
    <section id="connect" class="connect">

        <div class="container" data-aos="fade-up">

            <header class="section-header" style="margin-top: 50px">
                <h2>Add Assets</h2>
                <p>Add Asset by Name</p>
            </header>

            <div class="row gy-4">

                <div class="col-lg-12">

                    <form action="/add_asset" method="post" class="connect-form">
                        <div class="row gy-4">

                            <div class="col-md-12">
                                <input type="text" name="name" class="form-control" placeholder="Asset Name" required>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit">Add Asset</button>
                            </div>

                        </div>
                    </form>

                </div>

            </div>

        </div>

    </section><!-- End Connect Section -->

    </main><!-- End #main -->

    <%- include('./partials/footer.ejs')-%>

</body>

</html>
