

<!DOCTYPE html>
<html>
    <head>

        <!-- Popper and Bootstrap JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Bootstrap 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Personal style sheet -->
        <link rel="stylesheet" href="./css/styles.css">

        <title>Zenbatu Home Page</title>

    </head>

    <body>

        <%- include('./partials/navbar.ejs', { page: "home" })-%>

        <form id="loginForm" action="/connect" method="POST">
            <label for="ipInput">Database IP</label>
            <input id="ipInput" name="ip" type="text" value="localhost">

            <label for="usernameLoginInput">Username</label>
            <input id="usernameLoginInput" name="username" type="text" placeholder="Username">
            
            <label for="passwordLoginInput">Password</label>
            <input id="passwordLoginInput" name="password" type="password" placeholder="Password">

            <input type="submit" value="Log In" >
        </form>

        <form id="signupForm" action="/create_user" method="POST">
            <label for="usernameSignupInput">Username</label>
            <input id="usernameSignupInput" name="username" type="text" placeholder="Username">
            
            <label for="passwordSignupInput">Password</label>
            <input id="passwordSignupInput" name="password" type="password" placeholder="Password">

            <input type="submit" value="Create Account" >
        </form>

        <!-- If connection succeeded, give feedback -->
        <% if (typeof success === "boolean" && success === true) { %>

            <span>Account created! You can now log in.</span>

        <!-- If an error occurred while doing so, render it as well -->
        <% } else if (typeof error === "string") { %>

            <span>Error occurred: <%=error %> </span>

        <% } %>

    </body>
</html>